@keyframes moveRight {
    from {
        transform: translate3d(0, 0, 0);
    }

    to {
        transform: translate3d(0, 80px, 0);
    }
}

* {
    font-family: Raleway;
    margin: 0;
}



.fas {
    color: red;
    font-size: 14px;
}

// Small devices (landscape phones, 576px and up) (tablet)
@media (max-width: 666px) {


    .wrapper {
        background: gray;
        width: 100%;
        position: absolute;

        /* height: 100vh; */
        .header {

            height: 800px;
            color: white;
            background: #252934;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
            grid-template-rows: auto;



            /*     grid-auto-rows: minmax(50px, 667); */
            /*Justify Items align the content inside the grid boxes horizontal */
            /* justify-items: stretch;
            /*align-items align the content inside the grid boxes vertically*/
            /* align-items: stretch; */
            /*   grid-column-gap: 20px;
            grid-row-gap: 20px; */
            /*  grid-gap: 20px */
            .mobile-home {

                font-size: 21px;
                margin-left: 45px;

                .name {
                    color: #e31b6d
                }

                grid-column: 2 / 12;
                grid-row: 2 /3;

                .btn {
                    top: 45px;
                    left: 20px;
                    color: white;
                    border: 2px solid white;
                    padding: 10px;
                    position: relative;
                    margin-bottom: 53px;
                    width: 160px;
                    cursor: pointer;
                    transition: all .5s;
                    line-height: 11pt;
                    font-family: 'Raleway';
                    align-items: center;
                    align-content: center;
                    position: relative;
                    text-align: center;
                    font-size: 14pt;
                    z-index: 2;
                }
            }
        }
    }

    .projects {
        height: 100vh;
    }

    .abt-sct {


        height: 800px;
        color: 252934;
        background: #ffffff;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 200px 200px 150px 100px;

        .title {

            grid-column: 1 /13;
            font-size: 25pt;
            font-family: 'raleway';
            position: relative;
            color: #444649;
            font-weight: 1000;
            margin-top: 50px;
            position: relative;
            text-align: center;
            background: #ffff;



            .line {
                font-size: 25px;
                font-family: "raleway-bold";
                font-weight: 1000;

                text-align: center;
            }
        }

        .btn {}

        .box-1 {
            height: 100px;
            width: 100px;
            background: #252934;
            border-radius: 23px 23px 23px 23px;
            -moz-border-radius: 23px 23px 23px 23px;
            -webkit-border-radius: 23px 23px 23px 23px;
            border: 0px solid #000000;
            grid-column: 2 / 6;
            animation: moveRight .7s ease-in-out infinite alternate forwards running;



            .fa-node {
                color: #43853d;
                font-size: 5em;
                margin-top: 12px;

            }

        }

        .box-2 {
            height: 100px;
            width: 100px;
            background: #272c35;
            border-radius: 23px 23px 23px 23px;
            -moz-border-radius: 23px 23px 23px 23px;
            -webkit-border-radius: 23px 23px 23px 23px;

            grid-column: 8 / 11;

            i {
                color: #61dafb;
                font-size: 6em;

            }
        }

        .box-3 {
            height: 100px;
            width: 100px;
            background: #272c35;
            border-radius: 23px 23px 23px 23px;
            -moz-border-radius: 23px 23px 23px 23px;
            -webkit-border-radius: 23px 23px 23px 23px;
            grid-column: 2 / 6;

            i {
                color: #ce679a;
                font-size: 5em;
                margin-top: 12px;
            }
        }

        .box-4 {
            height: 100px;
            width: 100px;
            background: #272c35;
            border-radius: 23px 23px 23px 23px;
            -moz-border-radius: 23px 23px 23px 23px;
            -webkit-border-radius: 23px 23px 23px 23px;
            grid-column: 8 / 11;

            i {
                color: #43853d;
                font-size: 5em;
                padding: 5px 0px;
            }
        }

        .box-5 {

            background: brown;
            grid-column: 2 / 11;
            color: black;
            border: 2px solid black;
            padding: 20px;
            position: relative;
            margin-bottom: 40px;
            width: auto;
            cursor: pointer;
            transition: all .5s;
            line-height: 11pt;
            font-family: 'Raleway';
            align-items: center;
            align-content: center;
            position: relative;
            text-align: center;
            font-size: 14pt;
            z-index: 2;
        }
    }

    .label {
        margin-top: 20px;
        text-align: center;
    }





}